// var
$trs-rotate-180 :rotate(180deg);
$trs-all:all .3s;

// color
$cl_pri:#003594;
$cl_pri_2:#0076FF;
$cl_pri_3:#667D85;
$cl_sec:#FF4A62;
$cl_green:#70AD47;
$cl_green_2 :#00BF7D; /* 추가 */
$cl_blue:#00B0F0;
$cl_purple:#7030A0;
$cl_red:#F30404;
$cl_yel:#FFFF00;
$white:#fff;
$gray_bg:#f3f3f3;
$gray_bd:#DDDDDD;
$gray_txt_1:#C1C1C1;
$gray_txt_2:#9B9C9D;
$gray_txt_3:#464646;
$gray_txt_4:#E0DFDF; /* 추가 */

//function
@mixin flexbox {
  display:flex;
  justify-content:space-between;
  align-items:center;
  &.right{
    justify-content:flex-end
  }
}
@mixin defaultFont {
  font-size:16px;
  line-height:19px;
}
@mixin txtellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
@mixin buttonActiveBg {
  &:active,
  &:focus{
    background-color:$cl_pri;
    color:$white;
  }
}
@mixin errorMsg {
  @include defaultFont;
  color:$cl_sec;
  margin-top:10px;
}
// layout
.wp-inner{
  margin:0 auto;
  width:1320px;
  padding-top:80px;
  &.inner2{
    display:flex;
    align-items:flex-start;
    .left-menu{
      display:block;
      width:250px;
      border:none;
      margin:0 30px 0 0;
      padding:0;
      .tit{
        font-size:25px;
        line-height:30px;
        border-bottom:1px solid $gray_bd;
        padding-bottom:23px;
      }
      .menu-list{
        li{
          a{
            position:relative;
            display:block;
            padding:18px 0;
            font-size:20px;
            line-height:24px;
            color:$gray_txt_2;
            border-bottom:1px solid $gray_bd;
            transition:color 0.3s;
            &:before{
              content:url(../images/icon_prev_arr_gray2.png);
              width:9px;
              height:24px;
              position:absolute;
              right:6px;
              top:50%;
              transform:translateY(-50%);
              transition:right 0.3s;
            } 
            &:hover{
              color:$gray_txt_3;
              &:before{
                content:url(../images/icon_prev_arr_black.png);
                right:2px;
              }
            }
          }
          &.on{
            a{
              color:$gray_txt_3;
              &:before{
                content:url(../images/icon_prev_arr_black.png);
              }
            }
          }
        }
      }
    }
    .content-inner{
      flex:1;
    }
  }
}
// icon
.ic-com-create{
  content:url(../images/icon_com_create.png);
  width:21px;
  height:20px;
}
.ic-com-del{
  content:url(../images/icon_com_del.png);
  width:26px;
  height:26px;
}
.ic-prev-arr-gray, .ic-next-arr-gray{
  content:url(../images/icon_prev_arr_gray.png);
  width:8px;
  height:12px;
}
.ic-prev-arr-gray2, .ic-next-arr-gray2{
  content:url(../images/icon_prev_arr_gray2.png);
  width:9px;
  height:16px;
}
.ic-prev-arr-black, .ic-next-arr-black{
  content:url(../images/icon_prev_arr_black.png);
  width:9px;
  height:16px;
}
.ic-up-arr-gray, .ic-down-arr-gray{
  content:url(../images/icon_up_arr_gray.png);
  width:18px;
  height:10px;
}
[class*='ic-next-'], [class*='ic-down-']{
  transform:$trs-rotate-180;
}
[class*='ic-up-']{
  &.on{
    transform:$trs-rotate-180;
  }
}
.ic-com-search{
  content:url(../images/icon_com_search.png);
  width:22px;
  height:22px;
}
.ic-com-write{
  content:url(../images/icon_com_write.png);
  width:25px;
  height:25px;
}
.ic-status-ayaly{
  content:url(../images/icon_status_ayaly.png);
  width:40px;
  height:40px;
}
.ic-status-chip{
  content:url(../images/icon_status_chip.png);
  width:37px;
  height:36px;
}
.ic-status-file{
  content:url(../images/icon_status_file.png);
  width:31px;
  height:30px;
}
.ic-status-learn{
  content:url(../images/icon_status_learn.png);
  width:40px;
  height:31px;
}
.ic-status-usb{
  content:url(../images/icon_status_usb.png);
  width:29px;
  height:32px;
} 
.ic-com-member{
  content:url(../images/icon_com_member.png);
  width:18px;
  height:20px;
} 
.ic-bd-chart{
  content:url(../images/icon_bd_chart.png);
  width:22px;
  height:22px;
} 
.ic-bd-compare{
  content:url(../images/icon_bd_compare.png);
  width:24px;
  height:20px;
} 
.ic-bd-del{
  content:url(../images/icon_bd_del.png);
  width:18px;
  height:20px;
} 
.ic-bd-down{
  content:url(../images/icon_bd_down.png);
  width:20px;
  height:20px;
} 
.ic-bd-search{
  content:url(../images/icon_bd_search.png);
  width:20px;
  height:20px;
} 
.ic-bd-write{
  content:url(../images/icon_bd_write.png);
  width:23px;
  height:23px;
} 
.ic-com-directory{
  content:url(../images/icon_com_directory.png);
  width:20px;
  height:20px;
} 
.ic-bd-pdf {
  content:url(../images/icon_bd_pdf.png);
  width:18px;
  height:20px;
}
.ic-com-tooltip {
  content:url(../images/icon_com_tooltip.png);
  width:24px;
  height:24px;
}
.ic-com-date {
  content:url(../images/icon_com_date.png);
  width:20px;
  height:22px;
}
.ic-com-refresh {
  content:url(../images/icon_com_refresh.png);
  width:21px;
  height:21px;
}
.ic-add-white{
  content:url(../images/icon_add_white.png);
  width:18px;
  height:18px;
}
.ic-circle-bk-del{
  content:url(../images/icon_circle_bk_del.png);
  width:18px;
  height:18px;
}
.ic-circle-bk-upload{
  content:url(../images/icon_circle_bk_upload.png);
  width:18px;
  height:18px;
}
.splitbox{
  display:flex;
  .left-area{
    flex:1
  }
  .right-area{
    flex:1;
    margin-left:30px;
    border:1px solid $gray_bd; /* 임시 */
    .text-nodate{
      display:flex;
      align-items:center;
      justify-content:center;
      height:100%;
    }
  }
}
.modify-area,
.flexbox{
  @include flexbox;
}
/* title */
.titarea1{
  @include flexbox;
  margin-bottom:30px;
  padding-bottom:30px;
  border-bottom:1px solid $gray_txt_3;
  .tit{
    font-size:28px;
    font-weight:600;
    color:$gray_txt_3;
  }
}
.titarea2{
  @extend .titarea1;
  border:none;
  padding:0;
  margin-top:60px;
  .tit{
    font-size:20px;
    color:$gray_txt_3;
    font-weight:500;
    line-height:24px;
  }
  &:first-of-type{
    margin-top:0;
  }
}
.titarea3{
  @extend .titarea1;
  border:none;
  padding:0;
  .tit{
    @include defaultFont;
  }
}
/* btn */
.btn-area{
  &.bottom{
    @include flexbox;
    .btn-sty{
      flex:1;
    }
  }
  &.right{
    text-align:right;
  }
  .btn-sty{
    margin:0 3px;
    &:first-child{
      margin-left:0;
    }
    &:last-child{
      margin-right:0;
    }
  }
}
.btn-sty{
  border:none;
  color:$white; 
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0 12px;
  box-sizing:border-box;
  &.sty1{
    background-color:$cl_pri_2;
    border-radius:6px;
  }
  &.sty2{
    background-color:$cl_green_2;
    border-radius:6px;
  }
  &.sty3{
    background-color:$gray_bg;
    border-radius:4px;
    color:$gray_txt_3;
  }
  &.sty4{
    background-color:$cl_pri;
    border-radius:4px;
  }
  &.sty5{
    background-color:$cl_pri_3;
    border-radius:4px;
  }
  &.sizeS{
    font-size:14px;
    height:30px;
  }
  &.sizeSm{
    font-size:16px;
    height:34px;
    min-width:71px;
  }
  &.sizeM{
    font-size:16px;
    height:40px;
  }
  &.sizeL{
    font-size:20px;
    height:60px;
  }
  &[disabled="disabled"]{
    color:$gray_txt_1 !important;
    background-color:$gray_bg !important;
  }
}
/* 메인 */
.projcet-main{
  .projcet-vis{
    background-color:$cl_pri;
    height:500px;
    color:$white;
    .wp-inner{
      padding-top:0;
    }
    h2{
      padding:120px 0 12px;
      font-weight:600;
      font-size:45px;
    }
    p{
      font-size:25px;
      line-height:150%;
    }
  }
  .main-list{
    @include flexbox;
    padding-top:50px;
    li{
      width:420px;
      font-size:20px;
      line-height:24px;
      color:$gray_txt_3;
      img{
        margin-bottom:30px;
      }
    }
  }
}
/* sub 충돌방지 */
.projcet-sub{
  a{
    .txt-r,
    .txt-l{
      color:$gray_txt_3;
    }
  }
  img[class*="ic-"]{
    +.txt-r{
      @include defaultFont;
      padding-left:8px;
      vertical-align:middle;
    }
  }
  //text
  .top-txt{
    @include defaultFont;
    color:$gray_txt_2;
    margin-bottom:30px;
  }
  //text file_path
  .file-path{
    @include defaultFont;
    @include txtellipsis;
    color:$gray_txt_3;
    flex:1;
    padding-right:20px;
    .txt-r{
      @include defaultFont;
      color:$gray_txt_2;
    }
  }
  //회원탈퇴
  .btn-mem-withdraw{
    @include defaultFont;
    display:inline-block;
    color:$gray_txt_2;
    margin-top:30px;
  }
  .txt-sp-date{
    @include defaultFont;
    color:$cl_pri_2;
  }
  .sort-box{
    margin-bottom:0;
    width:auto;
    min-width:180px;
    .selected{
      border:none;
      height:38px;
      padding-right:0;
    }
    .ic-arrow{
      margin-left:10px;
    }
  }
}
//form style
.frm-wrap{
  .frm-inp{
    margin-top:10px;
    &:first-child{
      margin-top:0;
    }
  }
}
.frm-inp,
.frm-select{
  @include defaultFont;
  border:1px solid $gray_bd;
  height:40px;
  width:100%;
  box-sizing:border-box;
  color:$gray_txt_3;
  padding:0 20px;
  &::placeholder {
    color:$gray_txt_1;
  }
  &::-webkit-input-placeholder {
    color:$gray_txt_1;
  }
  &:-ms-input-placeholder {
    color:$gray_txt_1;
  }
}
.frm-textarea{
  @extend .frm-inp;
  height:auto;
}
.frm-chk-lb{
  .frm-chk{
    appearance:none;
    border:1px solid $gray_txt_4;
    border-radius:4px;
    width:20px;
    height:20px;
    background:$white url(../images/icon_checkbox.png) no-repeat 50% 50%;
    &:checked{
      background-color:$cl_pri;
      background-image:url(../images/icon_checkbox_on.png);
      border:none;
    }
  }
}
/* toggle-select */
.toggle-select{
  .get-txt{
    @include defaultFont;
    color:$gray_txt_3;
    .txt-l{
      vertical-align:middle;
    }
  }
  .select-box{
    display:none;
  }
}
/* ctrl-info */
.ctrl-info{
  @include flexbox;
  margin-bottom:30px;
  .btn-sty{
    @include buttonActiveBg;
  }
}
/* tbl-info */
.tbl-info{
  border-top:1px solid $gray_txt_3;
  &.sizeM{
    th{
      padding-top:30px;
      padding-bottom:30px;
    }
  }
  th{
    @include defaultFont;
    font-weight:500;
    text-align:left;
    vertical-align:top;
    color:$gray_txt_3;
    padding:15px 30px;
    background-color:$gray_bg;
    border-bottom:1px solid $gray_bd;
  }
  td{
    @extend th;
    background-color:$white;
  }
  .btn-area{
    margin-top:10px;
  }
  .error-msg{
    @include errorMsg;
  }
}
/* tbl-board */
.tbl-board{
  table-layout:fixed;
  border-bottom:1px solid $gray_bd;
  thead{
    th{
      @include defaultFont;
      font-weight:500;
      background:$gray_bg;
      border-top:1px solid $gray_txt_3;
      height:50px;
      color:$gray_txt_3;
    }
  }
  tbody{
    tr{
      &.bg{
        background-color:$gray_bg
      }
      td{
        @include defaultFont;
        text-align:center;
        border-top:1px solid $gray_bd;
        height:50px;
        color:$gray_txt_3;
        padding:8px 20px;
        &.al{
          text-align:left;
        }
        .subject{
          @include flexbox;
          justify-content:flex-start;
          .txt{
            @include txtellipsis;
          }
        }
        a{
          color:inherit;
        }
      }
    }
    .btn-ic-area{
      .btn-ico-ctr{
        margin:0 6px;
      }
    }
    .nodata{
      height:250px;
    }
  }
  .cate{
    padding:3px 8px;
    font-size:10px;
    line-height:12px;
    color:$white;
    border-radius:100px;
    margin-left:6px;
    display:inline-block;
    wgray_txt_4hite-space:nowrap;
    &.cate1{
      background-color:$cl_pri_2;
    }
    &.cate2{
      background-color:$cl_pri_3;
    }
    &.cate3{
      background-color:$cl_sec;
    }
  }
  .btn-ico-ctr{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    border-radius:100px;
    &:hover{
      background-color:$gray_txt_4
    }
    &:active,
    &:focus{
      .ic-bd-chart{
        content:url(../images/icon_bd_chart_white.png);
      }
      .ic-bd-compare{
        content:url(../images/icon_bd_compare_white.png);
      }
      .ic-bd-del{
        content:url(../images/icon_bd_del_white.png);
      }
      .ic-bd-down{
        content:url(../images/icon_bd_down_white.png);
      }
      .ic-bd-search{
        content:url(../images/icon_bd_search_white.png);
      }
      .ic-bd-write{
        content:url(../images/icon_bd_write_white.png);
      }
    }
    @include buttonActiveBg;
  }
}
/* tab */
.tab-change{
  @include flexbox;
  margin-bottom:30px;
  li{
    flex:1;
    a{
      display:block;
      background-color:$gray_bg;
      color:$gray_txt_2;
      font-size:20px;
      line-height:24px;
      border-top:1px solid $gray_bd;
      border-right:1px solid $gray_bd;
      border-bottom:1px solid $gray_txt_3;
      box-sizing:border-box;
      padding:19px 0;
      text-align:center;
    }
    &:first-child{
      border-left:1px solid $gray_bd;
    }
    &.on:first-child{
      a{
        margin-left:0;
      }
    }
    &.on{
      a{
        background-color:$white;
        color:$gray_txt_3;
        border-color:$gray_txt_3;
        margin-left:-1px;
        border-left:1px solid $gray_txt_3;
        border-bottom-color:$white;
      }
    }
  }
  &.tab-sty2{
    li{
      a{
        border:1px solid $gray_bd;
      }
      &.on{
        a{
          background-color:$gray_txt_3;
          border-color:$gray_txt_3;
          color:$white;
        }
      }
    }
  }
}
.tab-change-cont{
  .tab-cont{
    display:none;
    &.on{
      display:block;
    }
  }
}
/* search-keyword */
.search-keyword-wrap{
  @include flexbox;
  margin-bottom:30px;
  .search-keyword{
    @include flexbox;
    width:600px;
    background-color:$gray_bg;
    border-radius:100px;
    padding:0 20px;
    .frm-inp{
      border:none;
      background-color:transparent;
    }
  }
}
.search-date-area{
  @include flexbox;
  margin-bottom:30px;
  > .frm-inp,
  > .frm-date,
  > .frm-select,
  > .btn-area{
    margin-left:10px;
    width:306px;
    height:50px;
  }
  > .frm-select{
    width:200px;
    background:url(../images/icon_down_arr_gray.png) no-repeat right 23px center;
  }
  .frm-date{
    @include flexbox;
    border:1px solid $gray_bd;
    box-sizing:border-box;
    .frm-inp{
      border:none;
      height:38px;
      line-height:38px;
    }
  }
  .btn-area{
    margin-left:10px;
    width:auto;
    .btn-sty{
      height:50px;
      @include buttonActiveBg;
      &:active,
      &:focus{
        .ic-com-refresh{
          content:url(../images/icon_com_refresh_white.png);
        }
        .ic-bd-search{
          content:url(../images/icon_bd_search_white.png);
        }
      }
    }    
  }
}
/* tooltip */
.tooltips{
  $triagSize:7px;
  $triagSideGap:-14px;
  $contSideGap:35px;
  $contAlign:50%;
  $alignCenterLR:12px;
  position:relative;
  display:inline-block;
  margin:0 6px;
  .btn-tooltip{
    margin-left:6px;
    color:$gray_txt_3;
    font-size:16px;
  }
  .tooltips-cont{
    display:none;
    position:absolute;
    background-color:$gray_txt_3;
    border-radius:8px;
    white-space:nowrap;
    color:$white;
    font-size:12px;
    line-height:1.4;
    padding:10px 12px;
    &.open{
      display:block;
    }
    &:before{
      position:absolute;
      border:$triagSize solid $gray_txt_3;
      content:'';
      width:0;
      height:0;
    }
  }
  &[data-tooltip="right"]{
    .tooltips-cont{
      left:$contSideGap;
      top:$contAlign;
      transform:translateY(-$contAlign);
      &:before{
        left:$triagSideGap;
        top:$contAlign;
        transform:translateY(-$contAlign);
        border-top-color:transparent;
        border-right-color:$gray_txt_3;
        border-bottom-color:transparent;
        border-left-color:transparent;
      }
    }
  }
  &[data-tooltip="left"]{
    .tooltips-cont{
      right:$contSideGap;
      top:$contAlign;
      transform:translateY(-$contAlign);
      &:before{
        right:$triagSideGap;
        top:$contAlign;
        transform:translateY(-$contAlign);
        border-top-color:transparent;
        border-right-color:transparent;
        border-bottom-color:transparent;
        border-left-color:$gray_txt_3;
      }
    }
  }
  &[data-tooltip="bottom"]{
    .tooltips-cont{
      top:$contSideGap;
      transform:translateX(-$contAlign);
      margin-left:$alignCenterLR;
      &:before{
        top:$triagSideGap;
        left:$contAlign;
        transform:translateX(-$contAlign);
        border-top-color:transparent;
        border-right-color:transparent;
        border-bottom-color:$gray_txt_3;
        border-left-color:transparent;
      }
    }
  }
  &[data-tooltip="top"]{
    .tooltips-cont{
      bottom:$contSideGap;
      transform:translateX(-$contAlign);
      margin-left:$alignCenterLR;
      &:before{
        bottom:$triagSideGap;
        left:$contAlign;
        transform:translateX(-$contAlign);
        border-top-color:$gray_txt_3;
        border-right-color:transparent;
        border-bottom-color:transparent;
        border-left-color:transparent;
      }
    }
  }
}
//switch-toggle
.switch-button{
  $trs-cub:all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  display:inline-block;
  vertical-align:middle;
  .toggle-control{
      transition:$trs-cub;
      width:40px;
      height:24px;
      display:block;
      border-radius:24px;
      background-color:$gray_txt_4;
      position:relative;
      &:after{
        transition:$trs-cub;
        content:"";
        width:20px;
        height:20px;
        display:block;
        background-color:$white;
        border-radius:100px;
        position:absolute;
        top:2px;
        left:2px;
      }
    }
  .frm-swc{
    display:none;
    &:checked + .toggle-control{
      background-color:$cl_pri;
      &:after{
        left:calc(100% - 22px);
      }
    }
  }  
}
.box-lists{
  .flexbox{
    position:relative;
    align-items:flex-end;
    border:1px solid $gray_bd;
    padding:30px;
    margin-top:30px;
    &:first-child{
      margin-top:0;
    }
  }
  .left{
    flex:1;
    text-align:left;
    .info-cont{
      padding:0 30px 30px 0;
      flex:1;
      dt{
        font-size:20px;
        line-height:24px;
        color:$gray_txt_3;
        margin-bottom:10px;
      }
      dd{
        @include defaultFont;
        color:$gray_txt_2;
      }
    }
  }
  .right{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
    .btn-area{
      position:absolute;
      top:30px;
      right:30px;
      a{
        margin-left:15px;
      }
    }
    .txt-updated{
      color:$gray_txt_1;
      text-align:right;
    }
  }
}
/* 기본정보-프로젝트사용현황, 분석IDE */
.status-support{
  @include flexbox;
  li{
    flex:1;
    text-align:center;
    .num{
      display:block;
      margin:22px 0 7px;
      font-weight:600;
      font-size:30px;
      line-height:36px;
      color:$cl_pri_2;
    }
    .txt{
      display:block;
      font-size:14px;
      line-height:17px;
      color:$gray_txt_3;
    }
  }
}
/* 분석IDE */
.cont-ide{
  .logo-info-box{
    @include flexbox;
    border-top:1px solid $gray_txt_3;
    border-bottom:1px solid $gray_txt_4;
    > li{
      @include flexbox;
      flex:1;
      border-left:1px solid $gray_txt_4;
      &:first-child{
        border-left:none;
      }
      .logoimg{
        width:200px;
        text-align:center;
      }
    }
    .logo-info{
      padding:38px 0 38px 30px;
      flex:1;
      dt{
        font-size:20px;
        line-height:24px;
        margin-bottom:10px;
        color:$gray_txt_3;
      }
      dd{
        @include defaultFont;
        color:$gray_txt_2;
      }
    }
    &.half{
      width:50%;
      li{
        padding:24px 0;
      }
      .status-support{
        width:100%;
      }
    }
    &.wid1{
      width:920px;
    }
  }
  .btn-area{
    &.bottom{
      width:500px;
      margin:0 auto;
      margin-top:30px;
    }
  }
}

/*** modal-popup ***/
.modal-container{
  &.page2{
    .modal-content{
      width:600px;
    }
  }
  &.alert{
    .confirm-msg{
      text-align:center;
      font-size:20px;
      line-height:1.6;
      color:$gray_txt_3;
    }
  }
  .modal-body{
    padding:50px 0;
  }
  .modal-bottom{
    gap:10px;
    &.flexbox{
      [class*="btn-"]{
       flex:1;
       
      }
    }
  }
  .error-msg2{
    @include errorMsg;
    width:100%;
  }
  .modal-dl-area{
    width:100%;
    margin-top:30px;
    &:first-child{
      margin-top:0;
    }
    .md-tit{
      display:block;
      margin-bottom:10px;
      font-size:20px;
      line-height:1.4;
      color:$gray_txt_3;
    }
  }
  .modal-only-area{
    @extend .modal-dl-area;
    margin-top:10px;
  }
  .frm-textarea{
    border:1px solid $gray_bd;
  }
  .flexbox{
    width:100%;
  }
}
.modal-project-modify{
  width:583px;
}
.modal-project-addmem{
  .frm-inp{
    height:50px;
    flex:1;
  }
  .modal-body{
    .btn-sty{
      margin-left:10px;
      width:50px;
      height:50px;
      &:focus,
      &:active{
        background-color:$cl_sec;
      }
    }
  }
}
.modal-file-upload{
  .modal-body{
    align-items:flex-start !important;
  }
  .top-txt-info{
    font-size:16px;
    line-height:1.6;
    color:$gray_txt_3;
    text-align:left;
  }
  .drag-box{
    @include defaultFont;
    padding:14px;
    color:$gray_txt_2;
    text-align:center;
    width:100%;
    .upload-txt{
      margin:6px 0;
      
    }
  }
  .upload-list{
    width:100%;
    li{
      display:flex;
      margin-top:10px;
      align-items:center;
      background-color:$gray_txt_3;
      padding:10px;
      &:first-child{
        margin-top:0;
      }
    }
    .fileinfo{
      flex:1;
      padding:0 10px;
      color:$gray_txt_1;
      font-size:12px;
      line-height:14px;
      .filename{
        display:block;
        color:$white;
        font-size:14px;
        line-height:17px;
      }
    }
  }
}
